@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryy: transparent;
  --secondaryy: rgb(178, 179, 182);
}

/* * {
  scrollbar-width: 12px;
  scrollbar-color: var(--secondaryy);
} */

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primaryy);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondaryy);
  border-radius: 0px;
  border: 3px solid var(--primaryy);
}

@font-face {
  font-family: "SansSerif";
  src: local("SansSerif"),
    url("./../src/assets/fonts/SansSerif.ttf") format("truetype");
  font-weight: normal;
}

.bgimagesignin {
  background-image: url('./assets/logo.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
}

.backdropfilter {
  /* backdrop-filter: blur(500px); */
}

body{
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

/* ::-webkit-scrollbar-thumb:hover {
   background: rgb(0, 80, 180);
} */
/* 
::-webkit-mask-size: {100% 20000px;}
::-webkit-mask-position: left bottom; */

html {
  font-size: 13px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* -webkit-app-region:drag; */
  user-select: none;
  background-color: transparent;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root-app {
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  border: none;
  outline: none;
}

.float-right {
  float: right;
  margin-right: 25%;
}

.table-b tr:hover {
  background-color: transparent;
}

.okokkk {
  text-decoration: underline;
}

.input-div-border-icon {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
}

.red {
  color: red,
}

.icon-div-input {
  margin-top: 4px;
}

.no-decoration {
  border: none;
  background-color: transparent;
  outline: none;
}

.button-primary {
  color: white;
  background-color: rgb(0, 80, 180);
  outline: none;
  transition: 0.6s;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgb(140, 192, 255);
}

.button-primary:hover {
  color: white;
  transition: 0.6s;
  background-color: rgb(0, 100, 200);
  cursor: pointer;
}

.button-primary-small {
  color: white;
  background-color: rgb(0, 80, 180);
  outline: none;
  transition: 0.6s;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 5px;
}

.button-primary-small:hover {
  color: white;
  transition: 0.6s;
  background-color: rgb(0, 100, 200);
  cursor: pointer;
}

.button-primary-small-normal {
  color: white;
  background-color: rgb(200, 200, 200);
  outline: none;
  transition: 0.6s;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 5px;
}

.button-primary-small-normal:hover {
  color: white;
  transition: 0.6s;
  background-color: rgb(160, 160, 160);
  cursor: pointer;
}

.div-in-modal {
  /* height: 50px; */
  max-height: 500px;
  overflow-y: auto;
}

.button-primary-disabled {
  color: black;
  background-color: gray;
  outline: none;
  transition: 0.6s;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  cursor:no-drop;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5 {
  display: inline-block;
}

.main-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.main-menu-left {
  transition: 0.6s;
  width: 25%;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow-y: auto;
}

/* .classes-list {
  overflow-y: auto;
  background-color: #680006;
} */

/* .main-menu-left:hover {
  transition: 0.6s;
  width: 30%;
  box-shadow:1px 0px 10px 5px rgba(0, 0, 0, 0.3);
} */

.top-bar-app {
  position: fixed;
  left: 25%;
  top: 0px;
  right: 0px;
  height: 90px;
  -webkit-app-region:drag;
}

.nodrag {
  -webkit-app-region: no-drag;
}

.draggg {
  -webkit-app-region:drag;
}

.main-middle-page {
  /* background-color: #780006; */
  width: 75%;
  position: fixed;
  left: 25%;
  top: 90px;
  bottom: 25px;
  /* margin-top: 110px; */
  overflow-y: auto;
}

.sub-div-main {
  /* background-color: #680006; */
  display: flex;
  /* flex-wrap: nowrap; */
  /* width:100%; */
  padding-left: 20px;
  padding-right: 20px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
}

.menu-home-block {
  /* background-color: #680006; */
  display: flex;
  /* flex-wrap: nowrap; */
  /* width:100%; */
  padding-left: 20px;
  padding-right: 20px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
}

.menu-home-block div {
  width: 100%;
}

.footer-rights {
  width: 75%;
  position: fixed;
  display: flex;
  left: 25%;
  height: 30px;
  bottom: 0px;
  margin-top: 70px;
  justify-content: flex-end;
  align-items: center ;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.float-menu-topbar {
  float: right;
  /* height: 70px; */
  /* background-color: green; */
  margin-right: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.user-home {
  /* display: inline-block; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* height: 40px; */
  background-color: rgba(0, 0, 0, 0.070);
  /* margin-top: 5px; */
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 50%;
  padding-left: 12px;
  padding-right: 12px;
}

.topbar-title {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
  /* background-color: #680006; */
  display: inline-block;

}

.sub-menu-item {
  text-decoration: none;
  color: black;
  margin-left: 15px;
  font-size: 14px;
}

.menu-item {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  cursor: pointer;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.number-menu {
  float: right;
  margin-right: 20px;
  color: white;
  padding: 5px;
  background-color: red;
  font-size: 12px;
  margin-top: -5px;
}

.textcenter {
  text-align: center;
}

.user-home-tools {
  display: inline-block;
  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
  /* height: 40px; */
  /* background-color: white; */
  -webkit-app-region: no-drag;
  margin-top: 5px;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
}

.input-global {
  width: 350px;
}

.input-global-select {
  width: 350px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  outline: none;
}

.input-global-big-multiline {
  width: 750px;
}

.input-global-small {
  width: 170px;
}

.sub-main-div {
  padding-bottom: 20px;
  border-bottom: 1px solid green;
}

.button-default {
  width: 350px;
  height: 40px;
  font-size: 12px;
}

.main-div-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.modal-frame {
  /* border-radius: 15px; */
}

.main-modal {
  background-color: white;
  border-radius: 15px;
  padding-top:25px;
  max-width: 300px;
}

.button-modal {
  border-top:1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
  /* height:35px; */
  padding-top:12px;
  padding-bottom:15px;
  text-align: center;
  cursor:pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  transition: 0.6s;
}

.button-modal:hover {
  color:white;
  background-color: rgba(0, 80, 180, 1);
  transition: 0.6s;
}

.main-modal-view {
  background-color: white;
  width: 80%;
  position: fixed;
  height: 95%;
  left: 10%;
  top: 13px;
  bottom: 50px;
  border-radius: 5px;
  overflow-y: auto;
}

.sub-div-modal {
  background-color: white;
  width: 40%;
  position: fixed;
  height: 60px;
  left: 30%;
  top: 45%;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.title-big {
  font-weight: bold;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-signin {
  color: rgb(0, 80, 180);
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
}

.tab-settings {
  margin-right: 3%;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 15px;
  /* padding-right: 30px; */
  margin-top: 10px;
}

.tab-settings-selected {
  color: rgb(0, 80, 180);
  margin-right: 3%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 'bold';
  padding-bottom: 15px;
  /* padding-right: 30px; */
  border-bottom: 3px solid rgb(0, 80, 180);
}

.header-settings {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  height: 90px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body-settings {
  width: 90%;
  background-color: white;
  position: fixed;
  top: 91px;
  left: 10%;
  bottom: 30px;
  color: black;
  overflow-y: auto;
}

.divider-settings {
  border-bottom: 2px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 42%;
}

.menu-settings {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 90px;
  /* left: 10%; */
  bottom: 30px;
  color: black;
}

.back-settings {
  display: inline-block;
  color: rgb(0, 80, 180);
  font-size: 15px;
  margin-left: 20px;
  margin-top: 10px;
}

.title-settings {
  font-weight: 'bold';
  font-size: 23px;
  display: inline-block;
}

.spann {
  margin-left: 25px;
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
}

.box-border {
  display: block;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.minw {
  min-width: 90px;
}

.pointer {
  cursor: pointer;
}

.progress-center {
  text-align: center;
  margin-top: 50%;
  width: 100%;
}

.progress-center-progress {
  text-align: center;
  margin-top: 30%;
  width: 100%;
}

.progress-center-main {
  text-align: center;
  margin-left: 40%;
  margin-top: 25%;
}

.float-left-image {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  margin-top: -7px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.border-bottom-smooth {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.classes-div {
  transition: 0.6s;
  /* display: block; */
  cursor: pointer;
  /* padding-top: 15px; */
  /* padding-bottom: -10px; */
  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
  /* padding-left: 12px; */
  /* padding-right: 12px; */
}

.border-bottom-classes {
  display: 'inline';
  padding-top: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.classes-div:hover {
  transition: 0.6s;
  background-color: rgba(0, 80, 180, 0.4);
}

.float-class-pupils {
  float: right;
  border-radius: 3px;
}

.menu-top-middle {
  margin-top: 5px;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 7px;
  /* background-color: #680006; */
}

.select-no-border {
  transition: 0.6s;
  border: none;
  outline: none;
  /* margin-left: 20px; */
  cursor: pointer;
  font-size: 14px;
}

.select-border {
  transition: 0.6s;
  border: none;
  outline: none;
  /* margin-left: 20px; */
  cursor: pointer;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 30px;
}

.select-borderr {
  transition: 0.6s;
  border: none;
  outline: none;
  /* margin-left: 20px; */
  cursor: pointer;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

.select-no-border-select {
  transition: 0.6s;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
}

.select-no-border-bold {
  /* /* font-weight: bold; */
  text-decoration: underline;
}

.select-no-border-bold-select {
  font-weight: bold;
}

.select-no-border:hover {
  transition: 0.6s;
  /* font-weight: bold;
  font-size: 13.5px; */
  text-decoration: underline;
}

.divider-menu-topbar {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid black;
}

.user-home-tools {
  cursor: pointer;
}

.full-table-liste {
  width: 100%;
  border-collapse: collapse;
  margin-top: -60px;
  border: 1px solid black;
}

.full-table-listee {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: -60px; */
  /* border: 1px solid black; */
}

.full-table-listeee {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: -60px; */
  border: 1px solid black;
}

.full-table-listee13 {
  width: 100px;
  border-collapse: collapse;
  margin-top: -27px;
  border: 1px solid black;
  /* height:100%; */
}

.full-table-liste-marks {
  width: 75%;
  border-collapse: collapse;
  margin-top: -60px;
  border: 1px solid black;
}

.full-table-liste-markss {
  width: 100%;
  /* border-collapse: collapse; */
  margin-top: -60px;
  /* border: 1px solid black; */
}

.full-table-liste th {
  background-color: rgba(0, 80, 180, 0.3);
  border: 1px solid black;
  height: 23px;
}

.full-table-listee13 th {
  background-color: rgba(0, 80, 180, 0.3);
  border: 1px solid black;
  height: 23px;
}

.full-table-liste-marks th {
  background-color: rgba(0, 80, 180, 0.3);
  border: 1px solid black;
  /* height: 23px; */
}

.full-table-liste-markss th {
  background-color: rgba(0, 80, 180, 0.3);
  /* border: 1px solid black; */
  /* height: 23px; */
  padding-top: 7px;
  padding-bottom: 7px;
}

.full-table-liste td {
  border: 1px solid black;
  height: 23px;
  cursor: pointer;
}

.full-table-listeee td {
  border: 1px solid black;
  height: 23px;
  cursor: pointer;
}

.full-table-liste-marks td {
  border: 1px solid black;
  height: 23px;
  cursor: pointer;
}

.full-table-liste-markss td {
  /* border: 1px solid black; */
  height: 23px;
  cursor: pointer;
}

.full-table-liste-markss td {
  /* border: 1px solid black; */
  height: 23px;
  cursor: pointer;
}

.full-table-liste tr:hover {
  background-color: rgba(0, 80, 180, 0.2);
}

.inline {
  display: inline-block;
}

.input-marks {
  height: 25px;
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
}

.float-menu-right {
  float: right;
  margin-bottom: 20px;
  font-size: 20px;
}

.float-menu-right {
  float: right;
  margin-bottom: 20px;
  font-size: 20px;
}

.span-block {
  display: inline-block;
}

.menu-float-right {
  transition: 0.6s;
  float: right;
  margin-left: 40px;
  color: #780006;
  cursor: pointer;
  display: none;
}

.menu-float-rightt {
  transition: 0.6s;
  color: #780006;
  cursor: pointer;
}

.menu-float-right:hover {
  text-decoration: underline;
  transition: 0.6s;
}

.menu-float-rightt:hover {
  text-decoration: underline;
  transition: 0.6s;
}

.menu-float-right-normal {
  float: right;
  margin-left: 40px;
  margin-top: 20px;
}

.td-courses {
  transition: 0.6s;
  width: 30%;
}

.td-courses:hover {
  transition: 0.6s;
  width: 40%;
}

.div-courses:hover .menu-float-right {
  display: inline-block;
}

.div-course {
  transition: 0.6s;
}

.div-course:hover {
  transition: 0.6s;
  background-color: rgba(0, 80, 180, 0.3);
}

.float-right-div {
  float: right;
}

.span-blockk {
  display: block;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 80, 180);
}

.list-pupils {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.td-pupils {
  position: fixed;
  right: 0px;
  bottom: 30px;
  top: 110px;
  width: 18%;
  overflow: auto;
}

.classes-div-selected {
  background-color: rgba(0, 80, 180, 0.3);
}

.list-pupils-selected {
  font-weight: bold;
}

.deconnexion:hover {
  transition: 0.6s;
  background-color: #990009;
  color: white;
}

.deconnexion {
  transition: 0.6s;
  background-color: #680006;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-top: 5px;
  color: white;
  border-radius: 15px;
}

.topbar-menu-float-right {
  display: inline-block;
  float: right;
  font-size: 14px;
}

.menu-right {
  position: fixed;
  /* background-color: green; */
  top: 90px;
  bottom: 30px;
  right: 0px;
  width: 20%;
  /* border-left: 1px solid rgba(0, 0, 0, 0.2); */
  padding-left: 10px;
  overflow-y: auto;
}

.center-fixed {
  position: fixed;
  /* background-color: aqua; */
  top: 90px;
  bottom: 30px;
  width: 54.3%;
  left: 25%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: none;
  word-wrap: break-word;
}

.center-fixed-extended {
  position: fixed;
  background-color: aqua; 
  top: 90px;
  bottom: 0;
  left: 25%;
  right: 5%;
  /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
  overflow-y: auto;
  overflow-x: none;
  word-wrap: break-word;
}

.table-graphics {
  border-collapse: collapse;
  width: 100%;
}

.table-graphics:td {
  border: none;
}

.graphics-summary-right {
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
}

.graphics-summary-right span {
  display: block;
  margin-bottom: 7px;
  /* padding-bottom: 7px;
  margin-bottom: 5px; */
}

.border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.item-menu-right {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  margin-left: 15px;
}

.border-top-divider {
  border-top: 1px solid rgb(0, 0, 0);
  margin-right: 20px;
  margin-top: 15px;
}

.block-menu-right {
  display: block;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  border-radius: 5px;
}

.block-menu-right-first {
  display: block;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.input-search-pupil {
  /* outline: none;
  border: none;
  margin-left: 10px;
  background-color: transparent; */
}

.div-menu-home-circle {
  display: inline-block;
  transition: 1s;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 55px;
  padding-left: 50px;
  text-align: center;
  padding-right: 50px;
  border: 1px solid rgba(247, 207, 105, 0.5);
  margin-top: 30px;
  border-radius: 30%;
  background-color: rgba(238, 212, 146, 0.1);
}

.div-menu-home-circle:hover {
  transition: 1s;
  display: inline-block;
  cursor: pointer;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 55px;
  padding-left: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  border-radius: 30%;
  background-color: rgba(238, 212, 146, 0.6);
}

.div-menu-home-circle1 {
  display: inline-block;
  transition: 0.6s;
  padding: 40px;
  padding-left: 50px;
  text-align: center;
  padding-right: 50px;
  border: 1px solid rgb(240, 105, 238);
  margin-top: 30px;
  border-radius: 30%;
  background-color: rgba(212, 146, 238, 0.3);
}

.div-menu-home-circle1:hover {
  transition: 0.6s;
  display: inline-block;
  cursor: pointer;
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  border-radius: 50%;
  background-color: rgba(212, 146, 238, 0.6);
}

.div-menu-home-circle2 {
  display: inline-block;
  transition: 0.6s;
  padding: 40px;
  padding-left: 50px;
  text-align: center;
  padding-right: 50px;
  border: 1px solid green;
  margin-top: 30px;
  border-radius: 30%;
  background-color: rgba(172, 238, 146, 0.3);
}

.div-menu-home-circle2:hover {
  transition: 0.6s;
  display: inline-block;
  cursor: pointer;
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  border-radius: 50%;
  background-color: rgba(172, 238, 146, 0.6);
}

.div-menu-home-circle3 {
  display: inline-block;
  transition: 0.6s;
  padding: 40px;
  padding-left: 50px;
  text-align: center;
  padding-right: 50px;
  border: 1px solid rgb(0, 80, 180);
  margin-top: 30px;
  border-radius: 30%;
  background-color: rgba(130, 0, 0, 0.3);
}

.div-menu-home-circle3:hover {
  transition: 0.6s;
  display: inline-block;
  cursor: pointer;
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  border-radius: 50%;
  background-color: rgba(130, 0, 0, 0.6);
}

.div-search {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* padding-top: 10px;
  padding-bottom: 7px; */
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.paiement-categories {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.paiement-categories-modal {
  position: fixed;
  top: 20px;
  bottom: 35%;
  left: 25%;
  right: 25%;
  border-radius: 7px;
  overflow-y: auto;
}

.div-search input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.pupils-list-home {
  margin-bottom: 7px;
  cursor: pointer;
  transition: 0.6s;
}

.pupils-list-home:hover {
  font-weight: bold;
  transition: 0.6s;
}

.pupils-list-home-bold {
  font-weight: bold;
  transition: 0.6s;
}

.span-controllers-pupils:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title-background {
  display: block;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: '80%'
}

.title-background-1 {
  display: block;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-top-left-radius: 0px;
  width: '80%'
}

.input-normall {
  width: 92%;
  display: block;
  padding-left: 12px;
  outline: none;
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
}

.select-normall {
  width: 95%;
  display: block;
  padding-left: 12px;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
  height: 40px;
}

.tables-new-pupil {
  width: 100%;
  margin-bottom: 40px;
}

.tables-new-pupil td {
  padding-top: 10px;
}

.information-inputs {
  display: block;
  text-align: left;
}

.td-right {
  text-align: right;
}

.save-pupil {
  display: inline-block;
  float: right;
  background-color: rgb(0, 80, 180);
  color: white;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}

.save-pupil:hover {
  transition: 0.6s;
  background-color: rgb(59, 108, 221);
}

.className_table {
  border-collapse: collapse;
  border: 2px solid black;
  border-collapse: collapse;
  border-bottom: none;
  border-top: 1px solid black;
  width: 100%;
  max-width: 2480px;
  overflow: hidden;
}

.table td {
  overflow: hidden;
  width: auto;
  word-wrap: break-word;
}

.className_table_first {
  border-collapse: collapse;
  border: 2px solid black;
  border-collapse: collapse;
  border-bottom: none;
  width: 100%;
}

.className_table-reverse {
  border-collapse: collapse;
  border: 2px solid black;
  border-collapse: collapse;
  border-top: none;
  width: 100%;
}

.td-border {
  border: 1px solid black;
}

.td-border-nob {
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
}

.id-case {
  border: 1px solid black;
  border-left: none;
  font-weight: bold;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}

.id-case1 {
  border: 1px solid black;
  font-weight: bold;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}

.span-block-header {
  display: inline-block;
  margin-top: 3px;
  font-size: 11px;
}

.td-no-border {
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.td-no-border-r {
  border: 1px solid black;
  border-right: none;
}

.td-no-border-l {
  border: 1px solid black;
  border-left: none;
}

.td-top-table {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  width: 40px;
  font-weight: bold;
}

.standard-td-top {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  font-size: 11px;
  text-align: center;
}

.standard-td-right {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  font-size: 11px;
  text-align: left;
  padding-left: 5px;
}

.standard-td-tops {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  font-size: 2px;
  text-align: center;
}

.td-bizz-bottom {
  padding-top: 0px;
}

.td-bizz-bottom40 {
  padding-top: 0px;
  border-right: 2px solid black;
}

.add-minus {
  margin-right: 20px;
  color: rgb(0, 80, 180);
  cursor: pointer;
}

.add-minuss {
  margin-right: 10px;
  color: rgb(0, 80, 180);
  cursor: pointer;
  border: rgba(0, 0, 0, 0.5);
}

.add-minuss:hover {
  text-decoration: underline;
}

.add-minus:hover {
  text-decoration: underline;
}

.table-fill {
  border-collapse: collapse;
}

.table-fill td {
  border: 1px solid black;
}

.vertical_text {
  text-orientation: mixed;
  writing-mode: sideways-lr;
  width: 45px;
}

.vertical-course {
  text-orientation: mixed;
  writing-mode: sideways-lr;
  text-align: center;
  /* align-content: left;
  align-items: flex-start;
  justify-content: flex-start; */
  /* background-color: aqua; */
}

/* .two-lines-course {
  display: block; 
  width: 100px; 
  overflow: hidden; 
  word-wrap: break-word; 
    text-overflow: ellipsis;
} */

.input-no-border {
  outline: none;
  font-weight: bold;
  text-align: center;
  height: 40px;
}

.input-no-borderr {
  outline: none;
  border: none;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: transparent;
}

.input-no-borderrr {
  outline: none;
  border: none;
  font-weight: bold;
  width: 100%;
  background-color: transparent;
}

.div-centre {
  display: block;
  width: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
}

.div-centre2 {
  display: block;
  width: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  margin-left: 5px;
}

.full-table-listee13 td {
  border: 1px solid black;
}

.underlined {
  font-weight: bold;
  text-decoration: underline;
}

.div-div {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-left: 0px;
}

.input-montant {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 65%;
  height: 35px;
  border-radius: 3px;
  padding-left: 10px;
  outline: none;
}

.td-border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.td-border-right-recu {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.td-border-right-top {
  /* border-right: 1px solid rgba(0, 0, 0, 0.4); */
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.td-border-left-top {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  /* border-left: 1px solid rgba(0, 0, 0, 0.4); */
}

.dispp {
  display: inline-block;
}

.div-recu {
  padding: 2px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.div-recu-recuu {
  /* padding: 10px; */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
}

.div-recu-recu {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.sub-div-recu {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.div-title-recu {
  display: block;
  width: 60%;
  font-size: 15px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sub-title-div-recu {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
}

.table-border {
  border-collapse: collapse;
  border: 2px solid rgba(0, 80, 180, 1);
  border-radius: 20px;
}

.table-borderr {
  border-collapse: collapse;
  border: 2px solid rgba(0, 80, 180, 0.2);
  border-radius: 20px;
}

.border-bottom-blue {
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(0, 80, 180);
}

.table-border td {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.table-borderr td {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.information-footer {
  display: block;
  position: fixed;
  bottom: 30px;
  padding-bottom: 7px;
  left: 25%;
  right: 21%;
  text-align: right;
  border-top: rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.new_course_modal {
  margin: auto;
  margin-top: 200px;
  width: 550px;
  padding-bottom: 60px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

.new_course_modal_transparent {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.fiche-employee-pupil td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  text-align: left;
  /* background-color: aqua; */
  border: none;
}

/* .fiche-employee-pupil tr {
    border:none;
    padding-left: 0px;
  } */

/* .fiche-employee-pupil {
    margin-left: 0px;
    background-color: #0a5f54;
    text-align: left;
    border:none;
    } */

.fiche-paie th {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: rgba(0, 80, 180, 0.2);
}

.fiche-paie td {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.table-employees-full th {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: rgba(0, 80, 180, 0.2);
}

.table-employees-full td {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
}

.button-outline {
  transition: 0.6s;
  background-color: white;
  border: 1px solid rgba(0, 80, 180, 0.5);
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-outline:hover {
  transition: 0.6s;
  color: white;
  background-color: rgb(0, 80, 180);
  cursor: pointer;
}

.add-button {
  display: inline-block;
  background-color: rgb(0, 80, 180);
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  padding-bottom: 3px;
  margin-left: 10px;
}

.red-input {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  background-color: hsl(358, 100%, 94%);
}

.input-red {
  border: 1px solid white;
}

.button-enter-marks {
  transition: 0.6s;
  border-radius: 5px;
  border:1px solid rgb(0, 80, 180);
  background-color: rgb(0, 80, 180);
  cursor:pointer;
  color:white;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-enter-marks:hover {
  transition: 0.6s;
  border:1px solid rgb(1, 103, 228);
  background-color: rgb(1, 103, 228);
  color:white;
}

.hover-tr:hover {
background-color: rgba(0, 80, 180, 0.4);
}

.tr-background1 {
  background-color: rgba(0,0,0,0.020);
}

.tr-background2 {
  background-color: rgba(0,0,0,0.080);
}

.fiche-points td, th {
border:1px solid gray;
}

.fiche-points th {
  background-color: rgba(0, 80, 180, 0.3);
}

.fiche-points {
  border:1px solid gray;
  border-collapse: collapse;
}
